@import "../utils/_mixin.scss";
@import "../utils/_variables.scss";

.footer {
  width: 100%;
  background: #000000;
}

.footer__container {
  width: 320px;
  padding: 38px 25px 47px;
  margin: 0 auto;

  @media (min-width: $bp-tablet) {
    min-width: 768px;
    padding: 57px 92px 56px;
    margin: 0 auto;
  }

  @media (min-width: $bp-desc) {
    padding: 66px 15px 70px;
  }
}

.footer__heading {
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;

  &::after {
    display: inline-block;
    content: "";
    width: 5px;
    height: 2px;
    background: #fff;
    margin: 0 0 3px 5px;
  }

  &::before {
    display: inline-block;
    content: "";
    width: 5px;
    height: 2px;
    background: #fff;
    margin: 0 5px 3px 0;
  }

  @media (min-width: $bp-tablet) {
    font-size: 16px;
  }
}

.footer__description {
  margin-top: 8px;
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: $color-text-footer;
  text-align: center;

  &-text {
    display: none;
  }

  @media (min-width: $bp-tablet) {
    margin-top: 22px;
    font-size: 16px;
    line-height: 28px;

    &-text {
      display: inline-block;
    }
  }
}

.footer__btn-list {
  margin-top: 26px;
  @include flex;
  gap: 5px;

  @media (min-width: $bp-tablet) {
    margin-top: 37px;
  }
}

.footer__info {
  margin-top: 25px;
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $color-text-footer;
  text-align: center;

  &-adres::after {
    display: inline-block;
    content: "";
    width: 1.5px;
    height: 12px;
    margin: 0 0 -2px 10px;
    background: $color-text-footer;
    transform: rotate(25deg);
  }

  &-tel::after {
    display: inline-block;
    content: "";
    width: 1.5px;
    height: 12px;
    margin: 0 0 -2px 10px;
    background: $color-text-footer;
    transform: rotate(25deg);
  }

  @media (min-width: $bp-tablet) {
    @include flex;

    font-size: 16px;
    line-height: 26px;

    &-adres::after {
      height: 14px;
      margin: 0 10px -2px 10px;
    }

    &-tel::after {
      height: 14px;
      margin: 0 10px -2px 10px;
    }
  }
}

.footer__info-tel-link {
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $color-text-footer;

  @media (min-width: $bp-tablet) {
    font-size: 16px;
    line-height: 26px;
  }

  @media (min-width: $bp-desc) {
    &:hover {
      color: $color-hover;
      transition: 0.3s linear;
    }
  }
}

.footer__info-mail-link {
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $color-text-footer;

  @media (min-width: $bp-tablet) {
    font-size: 16px;
    line-height: 26px;
  }

  @media (min-width: $bp-desc) {
    &:hover {
      color: $color-hover;
      transition: 0.3s linear;
    }
  }
}
