@import "../utils/_mixin.scss";
@import "../utils/_variables.scss";

.header__wrapper {
  position: relative;
  margin: 23px auto 0;
  padding: 0 25px;

  @media (min-width: $bp-tablet) {
    min-width: 768px;
    padding: 0 92px;
    margin: 42px auto 0;

    .header__burger-menu {
      display: none;
    }
  }

  @media (min-width: $bp-desc) {
    width: 1200px;
    padding: 0 177px;
    margin: 45px auto 0;
  }
}

.header__nav {
  display: none;
}

.header__burger-menu {
  @include flex;
  flex-direction: column;

  position: absolute;
  top: 0px;
  right: 7.5%;

  width: 44px;
  height: 37px;
  margin-left: 84%;
  background: #000;
}

.burger-menu__item {
  width: 17px;
  height: 2px;
  margin-bottom: 2px;
  background: #fff;
  transition: 0.2s linear;
}

.active:nth-of-type(1) {
  margin-bottom: 0;
  position: relative;
  top: 1px;
  left: 1px;
  transition: transform 0.4s ease-in-out;
  transform: rotate(45deg);
}

.active:nth-of-type(2) {
  display: none;
}
.active:nth-of-type(3) {
  position: relative;
  top: -1px;
  left: 1px;
  margin-bottom: 0;
  transition: transform 0.4s ease-in-out;
  transform: rotate(-45deg);
}

.header__list {
  @include flex($align: flex-start);
  flex-direction: column;

  position: absolute;
  top: 37px;
  right: 7.5%;
  z-index: 2;
  width: 182px;
  background: #f5f5f5;

  opacity: 0;
  transition: 0.3s linear;
  pointer-events: none;
}

@media (min-width: $bp-tablet) {
  .header__nav {
    @include flex;
    justify-content: space-between;
    margin: 0 40px;
  }
}

.show {
  animation-name: menu;
  animation-duration: 0.4s;
  animation-timing-function: linear;

  opacity: 1;
  pointer-events: all;
}

@keyframes menu {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.header__item {
  width: 182px;
}

.header__item--fone {
  background: #e5e5e5;
}

.header__item-link {
  display: block;
  padding: 4px 0;
  margin-left: 12px;
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  color: $color-text;
  text-transform: uppercase;

  &--active {
    color: $color-hover;
  }
}

@media (min-width: $bp-tablet) {
  .header__nav-item-link {
    font-family: $ff-roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    color: $color-text;
    text-transform: uppercase;

    &:hover {
      color: $color-hover;
    }

    &--active {
      color: $color-hover;
    }
  }
}
